.mt-0 {
    margin-top: 0px;
}

.color-white {
    color: white;
    background-color: white;
}

.text-right {
    text-align: right;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 3000ms;
}
.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 3000ms;
}

.mt-small {
    margin-top:50px;
}

.pt-small {
    padding-top:80px;
}

.bg-color__yellow {
    color: #EBB582 !important;
}

.min-heigth {
    min-height: 492px;
}


.img-trimming {
    width: 90%;
    height: 90%;
    max-width: 600px;
}

.display-toggle {
    display: none;
}

.max-width {
    max-width: 200px !important;
}

.text-center { 
    text-align: center;
}

/* .bg_color__action_button {
    background-color: #D24136 !important;
} */

.title {
    text-align: center;
    /* color: #EBB582; */
    color: #785A46;
    margin: 0 auto 1rem auto;
    /* margin-bottom: 0px; */
}

.form-container {
    margin: 0 auto;
    max-width: 400px;
    padding: 1rem;
    height: auto;
    width: calc(100% - 2rem);
}

.p-link-menu {
    font-size: 14px;
}

.chat-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.chat-box {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-sizing: border-box;
    height: 592px;
    max-width: 432px;
    padding: 0 1rem;
    width: 100%;
}

.chat-grid__answer {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 192px;
}

.p-chat__bubble {
    background: #41B6E6;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: .5rem;
    margin-right: 1rem;
    max-width: 80%;
    width: auto;
}

.p-chat__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 0 !important;
}

.p-chat__reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-right: 0 !important;
}

.p-question__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

.p-question__description {
    font-size: 1rem;
    letter-spacing: .125rem;
    line-height: 1.7;
}

/*********** Module Spacer ***********/
.spacer-extra-sm {   
    height: 12px
}
.spacer-sm {
    height: 20px
}
.spacer-md {
    height: 32px
}

/*********** Section ***********/
.c-main {
    padding: 96px 0
}
.c-section-wrapin {
    margin: 0 auto;
    max-width: 575px;
    position: relative;
    padding: 0 1rem;
    text-align: center;
    width: 100%;
}



.c-section__loading {
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-flow: column;
    justify-content: center;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
}

.c-section__loading > p {
    color: #444;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.p-grid__column {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.p-grid__row {
    display: flex;
    flex-flow: row wrap;
}

.p-grid__list-images {
    display: flex;
    flex-flow: wrap;
}

.p-grid__list-images > .p-media__thumb {
    margin: .5rem;
    width: calc(50% - 1rem);
}

.p-media__thumb {
    position: relative;
    overflow: hidden;
    width: 100%
}

.p-media__thumb::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.p-media__thumb > img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

/*********** Footer ***********/
.l-footer {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0 1rem;
}

.l-footer > a {
    color: #444;
    font-size: .9rem;
    margin-right: 1rem;
}

.u-text-small {
    font-size: .9rem;
}

.u-text__link-none {
    text-decoration: none;
}

.u-text-left {
    text-align: left;
}

.u-text-right {
    text-align: right;
}





.u-display-none {
    display: none;
}

@media screen and (min-width: 576px) {
    /*********** Module Spacer ***********/
    .module-spacer--extra-extra-small {
        height: 16px
    }
    .module-spacer--extra-small {
        height: 20px
    }
    .module-spacer--small {
        height: 32px
    }

    /*********** Section ***********/
    .c-section-wrapin {
        max-width: 1024px;
    }
}

@media screen and (min-width:1024px) {
    /*********** Module Spacer ***********/
    .module-spacer--medium {
        height: 48px
    }
}
